// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$color-white: #FFFFFF;
$color-filter: #F5F5F5;
$color-modal-menu-item: #F7F7F7;
$color-alink-hover: #D6D6D6;
$color-point: #BD9A78;
$color-primary: #2B2B2B;
$color-modal-menu: #434343;
$color-secondary: #414141;
$color-border-modal-menu: #505050;
$color-border-search: #606060;
$color-border-button: #707070;
$color-border-item: #DEDEDE;
$color-text: #2C2C2C;
$color-description: #9D9D9D;
$color-icon: #C1C1C1;
$color-icon-background: #EDEDED;
$color-gold: #BDA878;
$color-black: #262626;
$color-button-danger: #F75D5D;
$color-border-search-item: #D5D5D5;
$color-bg-search: #F2F2F2;
