.is_dating {
  min-width: 20px;
  height: 20px;
  border-radius: 50px;
  border: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}

.is_night_dating {
  background: #F2BD47;
}

.is_noon_dating {
  background: #7495D3;
}

.dating-type__title {
  color: #ffffff;
}

#memberSchedule .fc-header-toolbar .fc-center {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-bottom: 10px;
}
#memberSchedule .fc-header-toolbar .fc-center > div {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
#memberSchedule .fc-header-toolbar .fc-center h2 {
  display: inline-block;
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1rem;
  white-space: nowrap;
}
#memberSchedule .fc-header-toolbar .fc-center .fc-button {
  border-radius: 50%;
  width: 22px;
  height: 22px;
  padding: 0;
  line-height: 1px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
#memberSchedule .fc-header-toolbar .fc-center .fc-icon {
  font-size: 1rem;
}
#memberSchedule .fc-header-toolbar .fc-left {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  width: 35%;
}
@media screen and (max-width: 768px) {
  #memberSchedule .fc-header-toolbar .fc-left {
    margin-bottom: 15px;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
  }
}
#memberSchedule .fc-header-toolbar .fc-right {
  width: 35%;
}
@media screen and (max-width: 768px) {
  #memberSchedule .fc-header-toolbar .fc-right {
    margin-top: 15px;
    width: 100%;
    -webkit-justify-content: center;
    justify-content: center;
  }
}

.member-schedule__modal--title {
  border-bottom: none;
}
.member-schedule__modal--title h5 {
  width: 100%;
}
.member-schedule__modal--footer {
  border-top: none;
  -webkit-justify-content: center;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .fc-toolbar {
    flex-direction: column;
  }
}
.fc-head-container {
  border: none !important;
  padding-bottom: 5px !important;
  font-size: 0.9rem !important;
}
.fc-day-header {
  border: none !important;
}
.fc-day-top.fc-other-month {
  opacity: 1;
}
.fc-day-top.fc-past {
  opacity: 0.3;
}
.fc-buttonNight-button {
  min-width: 96px;
  height: 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: #ffffff;
  background: #F2BD47;
  font-size: 0.7rem;
  border-radius: 50px;
  border: none;
  cursor: auto !important;
  margin-bottom: 10px;
}
.fc-buttonNight-button:hover {
  color: #ffffff !important;
  background: #F2BD47 !important;
}
.fc-buttonNight-button:focus {
  box-shadow: none !important;
}
.fc-buttonNoon-button {
  min-width: 96px;
  height: 24px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
  color: #ffffff;
  background: #7495D3;
  font-size: 0.7rem;
  border-radius: 50px;
  border: none;
  margin-left: 0 !important;
  cursor: auto !important;
}
.fc-buttonNoon-button:hover {
  color: #ffffff !important;
  background: #7495D3 !important;
}
.fc-buttonNoon-button:focus {
  box-shadow: none !important;
}
.fc-body .fc-sun, .fc-body .fc-sat {
  background: #FCF5F5;
}

.fc-toolbar.fc-header-toolbar {
  margin-bottom: 21px;
}

/*# sourceMappingURL=scheduleCalendar.css.map */
