files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/490-ffmpeg_install.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash

      if [ ! -d /usr/local/bin/ffmpeg ]; then
        mkdir /usr/local/bin/ffmpeg
        echo "create ffmpeg directory"
      else
        echo "ffmpeg directory already created"
      fi

      if [ ! -f /usr/bin/ffmpeg ]; then
        echo "install ffmpeg"
        cd /usr/local/bin/ffmpeg
        wget https://johnvansickle.com/ffmpeg/releases/ffmpeg-release-amd64-static.tar.xz
        tar -xf ffmpeg-release-amd64-static.tar.xz
        cd ffmpeg-4.2.3-amd64-static
        ./ffmpeg -version
        yes | cp -rf /usr/local/bin/ffmpeg/ffmpeg-4.2.3-amd64-static/* /usr/local/bin/ffmpeg/
        if [[ -f /usr/bin/ffmpeg ]] ; then unlink /usr/bin/ffmpeg; fi
        ln -s /usr/local/bin/ffmpeg/ffmpeg /usr/bin/ffmpeg
        if [[ -f /usr/bin/ffmpeg ]] ; then unlink /usr/bin/ffprobe; fi
        ln -s /usr/local/bin/ffmpeg/ffprobe /usr/bin/ffprobe
      else
        echo "ffmpeg already installed"
      fi
